name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run install script
        run: |
          chmod +x ./install.sh
          ./install.sh

      - name: Stack install
        run: stack install

      - name: Setup HLint
        uses: haskell-actions/hlint-setup@v2

      - name: Run HLint
        uses: haskell-actions/hlint-run@v2
        with:
          path: '["app","src","tests"]'
          fail-on: warning

      - name: Stack test
        run: stack test
